<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="arc.visitor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".HotelApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DarkTheme"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".BookingDetailActivity"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="arc.visitor"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_file_paths" />
        </provider>

        <activity
            android:name=".rooms.Room_Detail_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Auth.SignUp.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onBoard.OnBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Auth.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>